.carousel-item {
    background: no-repeat scroll center scroll;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.6;
}

.carousel-caption {
    bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 85px;
}

.carousel-caption p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #F4F4F4;
}

#feedback {
    background-color: #0d0d0d;
    padding: 7% 10%;
}

.hr-style {
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
}

.carousel-indicators {
    bottom: -5%;
}

/* Media Queries */

/* Mobile Devices */

@media only screen and (max-width:688px) {
    .carousel-indicators {
        bottom: -15%;
    }

    .col-sm-12 {
        display: flex;
    }

    .companies {
        display: none;
    }

    .bar {
        margin-top: 320px;
    }

}



/* tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px) {
    .cardone-css {
        max-width: 992;
        min-width: 688;
    }

    .companies {
        display: none;
    }


    .yes {
        margin-top: 400px
    }

    .yestexth {
        font-size: 20px;
    }


}